<section class="menu menu-vertical lg:menu-horizontal bg-base-200 rounded-box">
  @for (region of regions; track $index) {
    <li>
      <button
        class="btn mr-2 btn-outline w-[100px]"
        (click)="inputValue.set(region)"
        [class.btn-primary]="inputValue() == region"
      >{{ region }}
      </button>
    </li>
  }
</section>
<br>
<br>
<country-list
  [countries]="countryResources.value() ?? []"
  [errorMessage]="countryResources.error()"
  [isEmpty]="countryResources.value()?.length == 0"
  [isLoading]="countryResources.isLoading()"
/>
