<header-component [title]="'Basic'">


  <div class="stats stats-vertical lg:stats-horizontal w-full">

    <div class="stat">
      <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSave()">
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Product</legend>
          <input
            type="text" class="input"
            placeholder="Input Name"
            formControlName="name"
          />
          <!--          @if (isValidFiled('name')) {-->
          <!--            <p class="label text-red-800">Required Product Name</p>-->
          <!--          }-->
          <!--          @if (myForm.controls['name'].errors?.['minlength']) {-->
          <!--            <p class="label text-red-800">Min 5 Characters</p>-->
          <!--          }-->

          @if (isValidFiled('name')) {
            <p class="label text-red-800">{{ getFieldError('name') }}</p>
          }
        </fieldset>

        <fieldset class="fieldset">
          <legend class="fieldset-legend">Price</legend>
          <input
            type="number" class="input"
            placeholder="Price"
            formControlName="price"
          />
          @if (isValidFiled('price')) {
            <p class="label text-red-800">{{ getFieldError('price') }}</p>
          }
        </fieldset>

        <fieldset class="fieldset">
          <legend class="fieldset-legend">Stock</legend>
          <input
            type="number" class="input"
            placeholder="Product Stock"
            formControlName="inStorage"
          />
          @if (isValidFiled('inStorage')) {
            <p class="label text-red-800">{{ getFieldError('inStorage') }}</p>
          }        </fieldset>

        <button type="submit" class="btn btn-primary float-end">
          Send
        </button>
      </form>
    </div>

    <div class="stat bg-neutral text-neutral-content">
      <div class="card-body font-sans">
        <h2 class="items-center text-center font-semibold">Terminal</h2>

        <span><pre>Valid:  {{ myForm.valid | json }}</pre> </span>

        <span><pre>Pristine: {{ myForm.pristine | json }}</pre> </span>

        <span><pre>Touched: {{ myForm.touched | json }}</pre> </span>

        <span><pre>.   Product Error: {{ myForm.controls['name'].errors | json }}</pre> </span>
        <span><pre>.   Price Error: {{ myForm.controls['price'].errors | json }}</pre> </span>
        <span><pre>.   Stock Error: {{ myForm.controls['inStorage'].errors | json }}</pre> </span>

        <span><pre>Values: {{ myForm.value  | json }}</pre> </span>

      </div>
    </div>

  </div>

</header-component>

