<section class="card bg-base-100 card-xs shadow-sm">

  <section class="mx-10 mt-10">
    <h1 class="text-2xl font-bold">Pipes Uncommons</h1>
    <h3 class="text-xl font-thin">Pipes de Angular</h3>
  </section>

  <div class="stats stats-vertical lg:stats-horizontal shadow mx-10 m-7">

    <app-stat title="i18nSelectPipe">
      <p>Saludos {{ client().name }}, es un placer {{ client().gender | i18nSelect:invitationMap }}.</p>
      <br>
      <button
        class="btn btn-primary"
        (click)="changeClient()"
      >Change Client
      </button>
    </app-stat>

    <app-stat title="i18nPluralPipe">
      <p>Actually: {{ clients().length | i18nPlural:clientsMap() }}</p>
      <br>
      <button
        class="btn btn-primary"
        [disabled]="clients().length == 0"
        (click)="deleteClient()"
      >Delected Client
      </button>
    </app-stat>

    <app-stat title="Sliceipe">
      <b>Original</b>
      <p class="text-primary">
        {{ clients().join(', ') }}
      </p>

      <b class="mt-2">Slice:0:2</b>
      <p class="text-primary">
        {{ clients() | slice:0:2 }}
      </p>

    </app-stat>
  </div>

  <div class="stats stats-vertical lg:stats-horizontal shadow mx-10 m-7">

    <app-stat title="JsonPipe">
      <b>Json</b>
      <pre class="text-primary">{{ client() | json }}</pre>
      <b>List</b>
      <pre class="text-primary">{{ clients() | json }}</pre>
      <b>Stringfy</b>
      <pre class="text-primary">{{ clients().join(', ') | json | uppercase }}</pre>
    </app-stat>

    <app-stat title="KeyValuePipe">
      <ul>
        @for (item of profile| keyvalue; track $index) {
          <li>
          <span>
            <strong class="text-primary">
              {{ item.key | titlecase }}:
            </strong>
            {{ item.value }}
          </span>
          </li>
        }
      </ul>
    </app-stat>

    <app-stat title="AsynPipe">
      <b>Promesa...</b>
      <p class="text-primary">{{ promiseValue | async }}</p>

      @if (promiseValue | async; as value){
        <p>{{ value }}</p>
      }
    </app-stat>

  </div>

</section>
