<section class="card bg-base-100 card-xs shadow-sm">

  <section class="mx-10 mt-10">
    <h1 class="text-2xl font-bold">Pipes Uncommons</h1>
    <h3 class="text-xl font-thin">Pipes de Angular</h3>
  </section>

  <div class="stats stats-vertical lg:stats-horizontal shadow mx-10 m-7">

    <app-stat title="i18nSelectPipe">
      <p>Saludos {{ client().name }}, es un placer {{ client().gender | i18nSelect:invitationMap }}.</p>
      <button
        class="btn btn-primary"
        (click)="changeClient()"
      >Change Client
      </button>
    </app-stat>

  </div>


</section>
