<section class="flex flex-row gap-2 mt-2">
  <input
    type="text"
    class="input input-bordered mr-2 w-56"
    placeholder="Search by Capital"
    autofocus
    #txtSearch
    (keyup.enter)="onSearch(txtSearch.value)"
  />
  <button
    class="btn btn-primary"
    (click)="onSearch(txtSearch.value)"
  >Search
  </button>
</section>

<section>
  <div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
      <tr>
        <th>Country</th>
        <th>Capital</th>
        <th>Population</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <!-- row 1 -->
      <tr>
        <td>
          <div class="flex items-center gap-3">
            <div class="avatar">
              <div class="mask mask-squircle h-12 w-12">
                <img
                  src="https://img.daisyui.com/images/profile/demo/2@94.webp"
                  alt="Avatar Tailwind CSS Component"/>
              </div>
            </div>
            <div>
              <div class="font-bold">Hart Hagerty</div>
              <div class="text-sm opacity-50">United States</div>
            </div>
          </div>
        </td>
        <td>
          Zemlak, Daniel and Leannon
          <br/>
          <span class="badge badge-ghost badge-sm">Desktop Support Technician</span>
        </td>
        <td>Purple</td>
        <th>
          <button class="btn btn-ghost btn-xs bg-blue-800">Country
            Details</button>
        </th>
      </tr>
      </tbody>
      <!-- foot -->
      <tfoot>
      <tr>
        <th>Country</th>
        <th>Capital</th>
        <th>Population</th>
        <th></th>
      </tr>
      </tfoot>
    </table>
  </div>
</section>
