<header-component [title]="'Dynamic'">

  <form autocomplete="off">

    <fieldset class="fieldset">
      <legend class="fieldset-legend">Name</legend>
      <input type="text" class="input" placeholder="Full Name"/>
      <p class="label text-danger">error message</p>
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">Add Game</legend>
      <div>
        <input type="text" class="input" placeholder="Name Game"/>
        <button type="submit" class="btn btn-primary mx-2">Add Fav</button>
      </div>
      <p class="label text-danger">The price must be 0 or greater</p>
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">Favorites</legend>
      <div>
        <input type="text" class="input" placeholder="Favorite Game"/>
        <button class="btn btn-error mx-2" type="button">Delete</button>
      </div>
      <p class="label text-danger">required</p>
    </fieldset>

    <button type="submit" class="btn btn-primary float-end my-5">
      <!-- [disabled]="myForm.invalid" -->
      Save
    </button>

  </form>

  <div class="card bg-neutral text-neutral-content w-96">
    <div class="card-body font-sans">
      <h2 class="items-center text-center font-semibold">Terminal</h2>
      <span>Valid</span>
      <pre>{{ 'object' | json }}</pre>
      <br>

      <span>Value</span>
      <pre>{{ 'object' | json }}</pre>
      <br>

      <span>Agregar Juego</span>
      <pre>{{ 'object' | json }}</pre>
      <pre>{{ 'object' | json }}</pre>

    </div>
  </div>


</header-component>
